.about-main__heroour-blok{
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 304px;
}
.about-main__ourimg{
  max-width: 335px;
}
.about-main__outtitle{
  font-family: 'Fraunces';
font-weight: 900;
font-size: 40px;
color: #333D4B;
margin-bottom: 32px;
}
.about-main__outtext{
  font-family: 'Barlow';
font-weight: 400;
font-size: 16px;
color: #333D4B;
opacity: 0.8;
}
.about-main__ourcommintet{
  max-width: 540px;
}
@media only screen and (max-width:1000px) {
  .about-main__ourimg{
    max-width: 281px;
  }
  .about-main__outtitle{
    font-size: 32px;
    line-height: 48px;
  }
  .about-main__outtext{
    font-size: 15px;
    line-height: 25px;
  }
}
  @media only screen and (max-width:890px) {
    .about-main__heroour-blok{
      flex-direction: column;
      text-align: center;
    }
    .about-main__ourimg{
      max-width: 400px;
      margin-bottom: 48px;
    }
    .about-main__outtitle{
      font-size: 40px;
    }
    .about-main__outtext{
      font-size: 16px;
    }
  }
  @media only screen and (max-width:500px){
    .about-main__ourimg{
      max-width: 327px;
    }
    .about-main__outtitle{
      font-size: 32px;
      line-height: 48px;
    }
    .about-main__outtext{
      font-size: 15px;
      line-height: 25px;  
    }
  }

