.hero__block{
  padding: 117px 0;
  background-repeat: no-repeat;
  background-image: url(../img/bghero.svg);
  border-radius: 10px;
}
.hero__content-block{
  padding-left: 85px;
}
.hero__title{
  font-family: 'Fraunces';
  font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;
max-width: 493px;
margin-bottom: 32px;
}
.hero__text{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
max-width: 445px;
margin-bottom: 56px;
}
.hero{
  margin-bottom: 136px;
}
.hero{
  margin-top: 120px;
}
 @media only screen and (max-width:820px){
  .hero__block{
    background-image: url(../../img/herotable.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .hero__title{
    font-size: 48px;
    line-height: 48px;
    max-width: 329px;
  }
  .hero__text{
    max-width: 398px;
    font-size: 15px;
    line-height: 25px;
  }


 }
 @media only screen and (max-width:568px){
  .hero__block{
    background-image: url(../../img/menuhero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
  }
 }
 @media only screen and (max-width:520px){
  .hero__content-block{
    margin-left: 0;
    align-items: center;
  }    
  .hero__title{
    max-width: 279px;
    
  }
  .hero__text{
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    max-width: 279px;
  }
 }
 @media only screen and (max-width:437px) {
  .hero__content-block{
    margin-left: 0;
    align-items: center;
  } 
  .hero__title{
    max-width: 200px;
    font-size: 35px;
    line-height: 35px;
  } 
  .hero__text{
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    max-width: 200px;
  }
 }
